<article class="post">
  <div class="title">
      <h1>{{title}}</h1>
    </div>
  <div class="meta">
      <p>{{post_text}}</p>
      <h3>
        by {{user.username}} on
        {{format_date created_at}}
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </h3>
  </div>
</article>